.bloodtrail {
    background-image: url('Images/Emotes/1x.png'); 
    background-position: center right 38%;
    display: inline-block;
    background-repeat: no-repeat;
}

.peepowtf {
    background-image: url('Images/Emotes/peepowtf.png'); 
    background-position: center right 38%;
    display: inline-block;
    background-repeat: no-repeat;
}

.gachiBlast {
    background-image: url('Images/Emotes/gachiblast.gif'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.ayaya {
    background-image: url('Images/Emotes/ayaya.gif'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.nikodem {
    background-image: url('Images/Emotes/nikodem.png'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.gachiGolden {
    background-image: url('Images/Emotes/gachigolden.gif'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.gachiGoldenFire {
    background: url('Images/Emotes/gachigolden.gif') center right 25px no-repeat, url('Images/Emotes/fire.gif'); 
}

.mods {
    background-image: url('Images/Emotes/mods.gif'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}

.monke {
    background-image: url('Images/Emotes/monke.gif'); 
    background-position: center right 25px;
    display: inline-block;
    background-repeat: no-repeat;
}
