<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <link rel="icon" href="../icon.ico">
    <title>GachiBoard</title>
</head>
<body style="background-image: url('../Images/Backgrounds/gachiBoard.jpg'); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="container" >
        <div class="row">
            <div class="col-sm"> 
              <div id="mySidenav2" class="sidenavLeft">
                <a href="javascript:void(0)" class="closebtn" onclick="closeLeftNav()">&times;</a>
                <a href="../index.html">SoundBoard</a>
                <a href="../Views/gachiSoundboard.html">GachiBoard</a>
              </div>
              <div id="leftMain">
                <span style="font-size:30px; position:absolute; left:10px;cursor:pointer; color:whitesmoke" onclick="openLeftNav()">&#9776; Menu</span>
              </div>
          </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/AAAAAAAH.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Anothervictim.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/asswecan.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/atleast.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/ATTEEEN-TION.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/betourass.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Bigsurprise.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/boynextdoor.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/collegeboy.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/comeon.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/deepdark.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Dungeonmaster.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/embarassingme.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/fisting.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Fuckingcumming.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/FUCKYOU.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Fuckyou2.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/fuckyouletherman.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/fullmaster.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/idondoanal.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/gangingup.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/itgetsbigger.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/itsbondage.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/itsmacabre.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/ladiesfirst.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/lashofspanking.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Lubeitup.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Mmmmh.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/myshoulder.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/ohohah.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/ourdaddy.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Penetration.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Penetration1.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Penetration2.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Penetration3.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Performanceartist.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/pullup.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/right.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/ripped.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/riptheskin.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/settleit.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/slaves.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/sofuckingdeep.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Sorry.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/sorryforwhat.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/sixhotloads.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Spank.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/stfuboy.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Stickyourfinger.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Suction.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/swallowmycum.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/takeitboy.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/takingthatass.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/thankyou.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/twocanplayit.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/whatthehell.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>

            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Thatsamazing.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/thatspowerson.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Thatturnsmeon.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/theothernight.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/thepoint.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Withoutfurtherinterruption.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/WOO.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/workthattool.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/wrongdoor.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/YEAAAH.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>

            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/yessir.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/youcangonow.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/yougomemadnow.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/Youlikechallenges.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
            <div class="col-md-2" onclick="playSound('../Sounds/GachiBoard/youlikethat.mp3')">
                <div align="center" class="box_transition">
                    <img id="gachiGifEmote" src="../Images/GachiBoardEmotes/1.gif">
                </div>
            </div>
      </div>
</body>
<script>
$(document).ready(function(){
  if( /Android|webOS|iPhone|iPad|Mac|Macintosh|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $("#mainBoard").removeClass("col-6")
    $("#mainBoard").addClass("col-sm")
  }

  playSound('../Sounds/GachiBoard/lashofspanking.mp3');
})
</script>
