<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../emotes.css">
    <link rel="icon" href="../icon.ico">
    <script src="../scripts.js"></script>
    <title>GachiStary</title>
</head>
<body style="background-image: url('../Images/Backgrounds/gachi.png'); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="container" >
        <div class="row">
          <div class="col"></div>
          <div id="mainBoard" class="col-6">
            <button type="button" class="back-button" onclick="backToMainPage()">Powrót do wyboru starego</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/lordofthelockerroom.wav')">LORDS OF THE LOCKER ROOM</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/gladko.wav')">ALE GŁADZIUTKO!</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/jak_poderwac_snaxa.wav')">JAK PODERWAĆ SNAXA</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/wackagrubego.wav')">WACKA GRUBEGO</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/paszczu.wav')">жопа будь то...</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/chujadodupyjeszcze.wav')">CHUJA DO DUPY JESZCZE</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/strapon.wav')">STRAPON</button>
            <button type="button" class="gachi-button gachiBlast" onclick="playSound('../Sounds/Gachi/ojakdobrze.wav')">O JAK DOBRZE</button>
            <button type="button" class="gachi-button gachiBlast" onclick="playSound('../Sounds/Gachi/sogood.wav')">OO OOOO OOHHHH</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/alechuj.wav')">OOO ALE CHUJ!</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/wyciagabena.wav')">WYCIĄGAM BENA</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/bokserkiwkolorzeciemnoniebieskim.wav')">BOKSERKI W KOLORZE CIEMNONIEBIESKIM</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/siarczyscienadupsko.wav')">SIARCZYŚCIE NA DUPSKO</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/wymeczyszdzisiaj.wav')">WYMĘCZYSZ MNIE DZISIAJ</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/takeit.wav')">TAKE IT, TAKE IT BOY!</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/sciagnacspodnie.wav')">ŚCIĄGNĄĆ SPODNIE I PRZYJĄĆ</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/siniaki.wav')">SINIAKI NA NOGACH</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/dacdupy.wav')">MAM SIĘ WYPIĄĆ I DAĆ DUPY</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/siadenabutle.wav')">SIĄDĘ NA TĄ BUTLE</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/wyslalesnudeska.wav')">A WYSŁAŁEŚ MI NUDESKA?</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/orgia.wav')">JEST JEDNA WIELKA ORGIA</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/chodziozwisajacejaja.wav')">CHODZI O ZWISAJĄCE JAJA</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/nastepnymrazemdamdupy.wav')">NASTĘPNYM RAZEM DAM... TEGO</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/seryjkaponogach.wav')">SERYJKĄ PO NOGACH</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/fisting.wav')">FISTING</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/meeting.wav')">BĘDĘ TAKIE KLAPSY NA MEETINGU ROZDAWAŁ</button>
            <button type="button" id="ohButton1" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohah.wav')">OH</button>
            <button type="button" id="ohButton2" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohah2.wav')">OHH</button>
            <button type="button" id="ohButton3" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohah3.wav')">OHHH</button>
            <button type="button" id="ohButton4" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohah4.wav')">OHHHH</button>
            <button type="button" id="ohButton5" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohah5.wav')">OHHHHH</button>
            <button type="button" id="ohButton6" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohvan.wav')">OHHH VAN</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/szykujdupe.wav')">SZYKUJ DUPE</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/hotload.wav')">HOT LOAD</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/ohmyboi.wav')">OH MY BOY</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/dalejchlopcy.wav')">DALEJ CHŁOPCY</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/musimyzwalic.wav')">MUSIMY ZWALIĆ KONIA</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/oohh.wav')">OH</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/dekolcik.wav')">DEKOLCIK WIĘKSZY ZROBIĆ</button>
            <button type="button" class="gachi-button" onclick="playSound('../Sounds/Gachi/penis.wav')">A CO TO JEST? PENIS?</button>
          </div>
          <div class="col"></div>
        </div>
      </div>
</body>
<script>
$(document).ready(function(){
  if( /Android|webOS|iPhone|iPad|Mac|Macintosh|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $("#mainBoard").removeClass("col-6")
    $("#mainBoard").addClass("col-sm")
  }
})

$('[id*="ohButton"]').hover(
  function() {
    
    $('[class*="gachi-button"]').addClass("dungeon-button");
    $('[class*="gachi-button"]').removeClass("gachi-button");
    $(this).addClass("gachiGoldenFire");
    document.body.style.backgroundImage = 'url("../Images/Backgrounds/dungeon.jpg")'
  }, function() {
    document.body.style.backgroundImage =  'url("../Images/Backgrounds/gachi.png")'
    $('[class*="dungeon-button"]').addClass("gachi-button");
    $('[class*="dungeon-button"]').removeClass("dungeon-button");
    $(this).removeClass("gachiGoldenFire")
  }
);

</script>