<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="../gallery-grid.css">
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="../icon.ico">
    <title>Memy ze Starym</title>
</head>
<body>
    <div class="container gallery-container">
        <div class="row">
            <div class="col-sm"> 
              <div id="mySidenav2" class="sidenavLeft">
                <a href="javascript:void(0)" class="closebtn" onclick="closeLeftNav()">&times;</a>
                <a href="../index.html">DzbanBoard</a>
                <a href="../Views/gachiSoundboard.html">GachiBoard</a>
                <a href="../Views/memes.html">Memy ze Starym</a>
              </div>
              <div id="leftMain">
                <span style="font-size:30px; position:absolute; left:10px;cursor:pointer; color:whitesmoke" onclick="openLeftNav()">&#9776; Menu</span>
              </div>
          </div>
          <h1>Memy ze starym</h1>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/1.jpg">
                        <img src="../Images/Memes/1.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/2.jpg">
                        <img src="../Images/Memes/2.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/3.jpg">
                        <img src="../Images/Memes/3.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/4.jpg">
                        <img src="../Images/Memes/4.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/5.jpg">
                        <img src="../Images/Memes/5.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/5.jpg">
                        <img src="../Images/Memes/5.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/6.jpg">
                        <img src="../Images/Memes/6.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/7.jpg">
                        <img src="../Images/Memes/7.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/9.jpg">
                        <img src="../Images/Memes/9.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/10.jpg">
                        <img src="../Images/Memes/10.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/11.jpg">
                        <img src="../Images/Memes/11.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/12.jpg">
                        <img src="../Images/Memes/12.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/13.jpg">
                        <img src="../Images/Memes/13.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/14.jpg">
                        <img src="../Images/Memes/14.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/15.jpg">
                        <img src="../Images/Memes/15.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/16.jpg">
                        <img src="../Images/Memes/16.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/17.jpg">
                        <img src="../Images/Memes/17.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/18.jpg">
                        <img src="../Images/Memes/18.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/19.jpg">
                        <img src="../Images/Memes/19.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/20.jpg">
                        <img src="../Images/Memes/20.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/21.jpg">
                        <img src="../Images/Memes/21.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/22.jpg">
                        <img src="../Images/Memes/22.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/23.jpg">
                        <img src="../Images/Memes/23.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/24.jpg">
                        <img src="../Images/Memes/24.jpg" height="200" width="200">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../Images/Memes/25.jpg">
                        <img src="../Images/Memes/25.jpg" height="200" width="200">
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
    $(document).ready(function(){
      if( /Android|webOS|iPhone|iPad|Mac|Macintosh|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $("#mainBoard").removeClass("col-6")
        $("#mainBoard").addClass("col-sm")
      }
    })
    </script>