<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../emotes.css">
    <script src="../scripts.js"></script>
    <title>Stary spec od hirków</title>
</head>
<body style="background-image: url('../Images/Backgrounds/spec2.jpg'); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="container" >
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <button type="button" class="back-button" onclick="backToMainPage()">Powrót do wyboru starego</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/najgorszstraznik.wav')">NAJGORSZY STRAŻNIK</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/wodakrzyzujeplany.wav')">WODA KRZYŻUJE PLANY</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/minosmorala.wav')">MINOS MORALA</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/hopcykmyk.wav')">CYK HOP MYK</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/przeskoczylhirek.wav')">PRZESKOCZYŁ HIREK</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/ogrchujowy.wav')">OGR CHUJOWY</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/niezrobi.wav')">NIE ZROBIĘ</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/morala.wav')">MORALA</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/winratio.wav')">W TEORII WIN RATIO</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/token.wav')">TOKEN</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/alkintumajaja.wav')">ALKIN TU MA JAJA</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/pieprzonyogien.wav')">PIEPRZONY OGIEŃ</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/cojarobiewtejgrze.wav')">CO JA ROBIĘ W TEJ GRZE SZCZERZE</button>
            <button type="button" class="spec-button peepowtf" onclick="playSound('../Sounds/Spec/oszust.wav')">OSZUST</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/splusowal.wav')">SPLUSOWAŁ MNIE, TO ŚREDNIO</button>
            <button type="button" class="spec-button" onclick="playSound('../Sounds/Spec/wyliczonamorala.wav')">BARDZIEJ WYLICZONEJ MORALI</button>
          </div>
          <div class="col"></div>
        </div>
      </div>
</body>